# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# App data (конфиги пользователя не пушим)
user_config/
*.log
# Папки сборки PyInstaller
dist/
build/
*.spec

# Кэш Python
__pycache__/
*.pyc